<h1>Pagina de cadastro</h1>
<form action="/cadastrado" method="POST">
<label for="nome">Nome: </label>
<input type="text" name="nome">
<label for="sobrenome">Sobrenome: </label>
<input type="text" name="sobrenome">
<input type="submit">
</form>